*{
    box-sizing: border-box;
}
body{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
}
.poppins-font{
    font-family: "Poppins", sans-serif;
}
.inter-font{
    font-family: "Inter", sans-serif;
}
.navbar,.nav-items, .nav-list, .nav-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list, .nav-icons{
    gap: 2rem;
}
.menu-icon, .cart-icon, .search{
    display: none;
}
.categories{
    font-weight: 700;
    font-size: 1.5rem;
}
.nav-list li, .nav-icons li{
    list-style-type: none;
}
.nav-list li a, .nav-icons li a{
    text-decoration: none;
    color: initial;
}
@media screen and (max-width: 800px) {
    .menu-icon{
        display: block;
        order: 2;
    }
    .categories{
        flex: 1;
    }.nav-icons{
        margin-right: 2rem;
    }
    .nav-list{
        display: none;
        flex-direction: column;
        padding: 5px;
        position: absolute;
        top: 20px;
        right: 0;
    }
    .menu-icon:hover ~ .nav-items .nav-list, .nav-list:hover{
        display: block;
    }
    .nav-list li{
        display: flex;
        justify-content: center;
        margin: 10px;
        line-height: 1.5;
        padding: 0 10px 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0 0 6px 6px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    }
    .nav-list li:hover{
        box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
    }
}

@media screen and (max-width: 576px) {
    body{
        padding: 0 1rem;
    }
    .menu-icon{
        order: initial;
    }
    .nav-items, .nav-icons{
        margin-right: 0;
        padding-left: 0;
        gap: 1rem;
    }
    .nav-list{
        left: 0;
        right: initial;
    }
    .categories{
        font-size: 1.25rem;
        text-align: center;
    }
}