*{
    box-sizing: border-box;
}
body{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
}
.poppins-font{
    font-family: "Poppins", sans-serif;
}
.inter-font{
    font-family: "Inter", sans-serif;
}

/* nav section */
.navbar,.nav-items, .nav-list, .nav-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list, .nav-icons{
    gap: 2rem;
}
.menu-icon, .cart-icon, .search{
    display: none;
}
.categories{
    font-weight: 700;
    font-size: 1.5rem;
}
.nav-list li, .nav-icons li{
    list-style-type: none;
}
.nav-list li a, .nav-icons li a{
    text-decoration: none;
    color: initial;
}

/* banner section */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}
.banner-content{
    width: 50%;
}
.banner-title{
    font-size: 3.25rem;
    font-weight: 700;
}
.banner-desc{
    font-size: 1rem;
    font-weight: 600;
    margin: 30px 0;
}
.banner br{
    display: none;
}
.btn{
    color: white;
    background-color: #E02C6D;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
}
.img-div{
    background-image: url('./images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

/* brand section */
.brand-section{
    margin: 100px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px solid #EDF1F5;
    border-bottom: 1px solid #EDF1F5;
    padding: 40px;
}

/* product section */
.product-section{
    margin: 50px 0;
}
.product-section-title{
    margin: 10px 0 30px 0;
    text-align: center;
    font-weight: 600;
    font-size: 1.75rem;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card{
    padding: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.card img{
    width: 100%;
}
.card h3{
    margin: 15px 0;
    font-weight: 500;
    font-size: 1.75rem;
}
.price-tag{
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}
.card p{
    font-size: 0.875rem;
    font-weight: 700;
    color: #787885;
}

@media screen and (max-width: 992px) {
    /* nav section */
    .menu-icon{
        display: block;
        order: 2;
    }
    .categories{
        flex: 1;
    }.nav-icons{
        margin-right: 2rem;
    }
    .nav-list{
        display: none;
        flex-direction: column;
        padding: 5px;
        position: absolute;
        top: 20px;
        right: 0;
    }
    .menu-icon:hover ~ .nav-items .nav-list, .nav-list:hover{
        display: block;
    }
    .nav-list li{
        display: flex;
        justify-content: center;
        margin: 10px;
        line-height: 1.5;
        padding: 0 10px 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0 0 6px 6px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    }
    .nav-list li:hover{
        box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
    }

    /* banner section */
    .banner-content{
        width: 70%;
    }
    .banner-title{
        font-size: 2.5rem;
        line-height: 1.2;
    }
    .banner-desc{
        font-weight: 500;
        margin: 15px 0;
    }
    .btn{
        font-weight: 600;
    }
    .img-div img{
        width: 100%;
    }

    /* brand section */
    .brand-section{
        justify-content: center;
    }

    /* product section */
    .product-section-title{
        font-size: 1.5rem;
    }
    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .card{
        padding: 15px;
    }
    .card img{
        width: 100%;
    }
    .card h3{
        font-size: 1.5rem;
    }
    .card p{
        font-size: 0.85rem;
    }

}

@media screen and (max-width: 576px) {
    body{
        padding: 0 1rem;
    }

    /* nav section */
    .menu-icon{
        order: initial;
    }
    .nav-items, .nav-icons{
        margin-right: 0;
        padding-left: 0;
        gap: 1rem;
    }
    .nav-list{
        left: 0;
        right: initial;
    }
    .categories{
        font-size: 1.25rem;
        text-align: center;
    }

    /* banner section */
    .banner{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .banner-content{
        width: 100%;
        text-align: center;
    }
    .banner-title{
        font-size: 1.75rem;
        line-height: initial;
    }
    .banner-desc{
        font-size: 0.875rem;
        margin: 20px 0;
    }
    .banner br{
        display: initial;
    }
    .btn{
        font-weight: 500;
    }
    .img-div{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0;
    }

    /* brand section */
    .brand-section{
        margin: 80px 0;
        border: initial;
        padding: 0px;
    }

    /* product section */
    .product-section-title{
        /* margin: 10px 0 30px 0; */
        font-size: 1.25rem;
    }
    .card-container{
        margin-left: 20px;
        margin-right: 20px;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .card{
        padding: 20px;
    }
    .card h3{
        margin: 10px 0;
        font-size: 1.25rem;
    }
    .price-tag{
        font-size: 0.875rem;
    }
    .card p{
        font-size: 0.75rem;
    }

}